name: Mercy Medical Scraper

on:
  schedule:
    # 1. Monday to Friday: Every 30 minutes
    #    From 07:00 UTC to 19:30 UTC (Buffer included for Time Changes)
    - cron: '*/30 7-19 * * 1-5'
    
    # 2. Saturday and Sunday: 3 times a day
    #    08:00 UTC (8am GMT / 9am BST)
    #    14:00 UTC (2pm GMT / 3pm BST)
    #    20:00 UTC (8pm GMT / 9pm BST)
    - cron: '0 8,14,20 * * 6,0'

  # Allows you to click "Run workflow" manually for testing
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        # 'npm ci' is faster and cleaner than 'npm install' for servers
        run: npm install

      - name: Run Scraper
        env:
          WEBSITE_USERNAME: ${{ secrets.WEBSITE_USERNAME }}
          WEBSITE_PASSWORD: ${{ secrets.WEBSITE_PASSWORD }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
          JOBS_PAGE_URL: ${{ secrets.JOBS_PAGE_URL }}
        run: node index.js
